body{
    margin: 0%;
    padding: 0%;
    background-color: rgb(77, 255, 196);
    height: 100%;
    overflow: hidden;

}

.count{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    background-color: white;
    border-radius: 5px;
    border: 2px solid sil;
    height: 500px;
}
.count h1 {
    text-align: center;
    padding: 0 0 20px 0;
    color:rgba(0, 149, 99, 0.814);
}
.count form{
    padding: 0 40px;
    box-sizing: border-box;
}
form .group {
    position: relative;
    margin: 30px 0;
}
.group{
    width: 100%;
    padding: 0 5px;
    height: 50px;
    border: 2px solid silver;

}
.ch{
    width: 100%;
    padding: 0 5px;
    height: 40px;
}

.sub{
    position: relative;
    width: 50%;
    height: 45px;
    border: 1px solid;
    background-color:rgb(0, 154, 103);
    color: white;
    font-size: 20px;
}
.sub1{
    padding-left: 110px;

}
.bt{
    margin: 30px 0;
    text-align: center;
    font-size: 16px;
    color: black;
}
.bt a{
    color: rgb(0, 154, 103);
    text-decoration: none;
}


