body  {
    background-image: url(https://i.gifer.com/origin/db/db06c14a3148ef1e0764641c2dc1f347.gif);
    background-repeat: no-repeat;
    background-size: 420px;
    background-position: top right;
    background-attachment: fixed;
}